In [1]:
import pandas as pd
import json

In [2]:
backer_data = pd.read_csv("backer_info.csv")
#backer_data.sheet_names

In [3]:
file_path = "./backer_info.csv"
backer_df = pd.read_csv(file_path, header=1)
backer_df.head(10)

  {"backer_id": "av166", "cf_id": 968, "name": "Angelo Vincent", "email": "avincent@live.com"}
0  {"backer_id": "ha127", "cf_id": 563, "name": "...
1  {"backer_id": "lg794", "cf_id": 65, "name": "L...
2  {"backer_id": "tb566", "cf_id": 563, "name": "...
3  {"backer_id": "lh506", "cf_id": 563, "name": "...
4  {"backer_id": "lh382", "cf_id": 563, "name": "...
5  {"backer_id": "em444", "cf_id": 563, "name": "...
6  {"backer_id": "at582", "cf_id": 1572, "name": ...
7  {"backer_id": "id772", "cf_id": 1911, "name": ...
8  {"backer_id": "lw275", "cf_id": 65, "name": "L...
9  {"backer_id": "ub509", "cf_id": 65, "name": "U...

In [4]:
backer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8174 entries, 0 to 8173
Data columns (total 1 columns):
 #   Column                                                                                        Non-Null Count  Dtype
---  ------                                                                                        --------------  -----
 0   {"backer_id": "av166", "cf_id": 968, "name": "Angelo Vincent", "email": "avincent@live.com"}  8174 non-null   object
dtypes: object(1)
memory usage: 64.0+ KB

## Deliverable 1: Extract
----
### Option 1: Use Python Dictionary Methods

1. Import the `backer_info.csv` file into a DataFrame.
2. Iterate through the DataFrame and convert each row to a dictionary. 
3. Iterate through each dictionary and do the following:
    * Extract the dictionary values from the keys using Python list comprehension.
    * Add the values for each row to a new list. 
4. Create a new DataFrame with the retrieved data. 
5. Export the DataFrame as `backers_data.csv`.

In [5]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)
#backers_id_list = backer_df.columns.to_list()
#backers_id_list

In [6]:
data_rows = []
# Iterate through the backers DataFrame and convert each row to a dictionary.
for i, row in backer_df.iterrows():
    # Iterate through each dictionary (row) and get the values for each row using list comprehension.
    # Append the list of values for each row to a list. 
    data_rows.append(row[0].split(","))

# Print out the list of values for each row.
#data_rows

In [7]:
# Create a backers_df DataFrame with the following columns: 'backer_id','cf_id', 'name', and 'email' 
# using the list of values lists. 
backer_info_df = pd.DataFrame(data_rows, columns=['backer_id', 'cf_id', 'name', 'email'])
backer_info_df['backer_id'] = backer_info_df['backer_id'].map(lambda x: x.lstrip('{"backer_id":'))
backer_info_df['cf_id'] = backer_info_df['cf_id'].map(lambda x: x.lstrip(' "cf_id":'))
backer_info_df['name'] = backer_info_df['name'].map(lambda x: x.lstrip(' "name":'))
backer_info_df['email'] = backer_info_df['email'].map(lambda x: x.lstrip(' "email":'))
backer_info_df

     backer_id cf_id               name                    email
0      "ha127"   563     Hubert Arnold"     harnold@yandex.com"}
1      "lg794"    65      Loris Goulet"      goulet@yandex.com"}
2      "tb566"   563  Teodora Brunelli"  tbrunelli@outlook.com"}
3      "lh506"   563        Lexie Hunt"          hunt@live.com"}
4      "lh382"   563     Lambert Huber"         huber@live.com"}
...        ...   ...                ...                      ...
8169   "st581"    65   Serita Thebault"   sthebault@yandex.com"}
8170   "gf637"   563   Glenn Foerstner"   gfoerstner@yahoo.com"}
8171   "rc983"  1114       Robt Collin"    rcollin@outlook.com"}
8172   "cz381"    65      Corina Zappa"     czappa@outlook.com"}
8173   "fg535"    65     Freeman Gibbs"     fgibbs@outlook.com"}

[8174 rows x 4 columns]

In [8]:
# Export the DataFrame as a CSV file using encoding='utf8'.
backer_info_df.to_csv("backer_info_df.csv", encoding='utf8')

## Deliverable 1: Extract
----
### Option 2: Use regex 

1. Import the `backer_info.csv` file into a DataFrame. 
2. Extract the "backer_id", "cf_id", "name", and "email using regular expressions."
3. Create a new DataFrame with the retrieved data.
4. Export the DataFrame as `backers_data.csv`.

# Get the backers_info from the crowdfunding_info sheet. 
# pd.set_option('max_colwidth', 400)

# Extract the alpha-numeric "backer_id" from the backer_info column using a regex expression 
# and add it as a new column called "backer_id".

# Extract the two to four-digit "cf_id" number from the backer_info column. 
# and add it as a new column called "cf_id".

# Extract the name from the backer_info column and add it as a new column called "name".

# Extract the email from the backer_info column and add it as a new column called "email".

# Create a new DataFrame with the appropriate columns.

# Export the DataFrame as a CSV file using encoding='utf8'.

## Deliverable 2: Transform and Clean Data
----
1. Check the data types of the columns and convert the "cf_id" column to an integer, if necessary.
2. Split the name in the "name" column into first and last names, and add them to "first_name" and "last_name" columns in the DataFrame. 
3. Drop the "name" column in the DataFrame.
4. Place the columns in the following order; "backer_id", "cf_id", "first_name", "last_name" and "email".

In [9]:
# Check data types.
backer_info_df.dtypes

backer_id    object
cf_id        object
name         object
email        object
dtype: object

In [10]:
# Convert cf_id to an integer if necessary.
backer_info_df['cf_id'] = backer_info_df['cf_id'].astype(int)
backer_info_df.dtypes

backer_id    object
cf_id         int32
name         object
email        object
dtype: object

In [11]:
# Split the "name" column into "first_name" and "last_name" columns.
backer_info_df[["first_name","last_name"]] = backer_info_df["name"].str.split(' ', n=1, expand=True)
backer_info_df

,backer_id,cf_id,name,email,first_name,last_name
0,"""ha127""",563,"Hubert Arnold""","harnold@yandex.com""}",Hubert,"Arnold"""
1,"""lg794""",65,"Loris Goulet""","goulet@yandex.com""}",Loris,"Goulet"""
2,"""tb566""",563,"Teodora Brunelli""","tbrunelli@outlook.com""}",Teodora,"Brunelli"""
3,"""lh506""",563,"Lexie Hunt""","hunt@live.com""}",Lexie,"Hunt"""
4,"""lh382""",563,"Lambert Huber""","huber@live.com""}",Lambert,"Huber"""
...,...,...,...,...,...,...
8169,"""st581""",65,"Serita Thebault""","sthebault@yandex.com""}",Serita,"Thebault"""
8170,"""gf637""",563,"Glenn Foerstner""","gfoerstner@yahoo.com""}",Glenn,"Foerstner"""
8171,"""rc983""",1114,"Robt Collin""","rcollin@outlook.com""}",Robt,"Collin"""
8172,"""cz381""",65,"Corina Zappa""","czappa@outlook.com""}",Corina,"Zappa"""
8173,"""fg535""",65,"Freeman Gibbs""","fgibbs@outlook.com""}",Freeman,"Gibbs"""

In [12]:
#  Drop the name column
backer_info_df = backer_info_df.drop(['name'], axis=1)
backer_info_df

     backer_id  cf_id                    email first_name   last_name
0      "ha127"    563     harnold@yandex.com"}     Hubert     Arnold"
1      "lg794"     65      goulet@yandex.com"}      Loris     Goulet"
2      "tb566"    563  tbrunelli@outlook.com"}    Teodora   Brunelli"
3      "lh506"    563          hunt@live.com"}      Lexie       Hunt"
4      "lh382"    563         huber@live.com"}    Lambert      Huber"
...        ...    ...                      ...        ...         ...
8169   "st581"     65   sthebault@yandex.com"}     Serita   Thebault"
8170   "gf637"    563   gfoerstner@yahoo.com"}      Glenn  Foerstner"
8171   "rc983"   1114    rcollin@outlook.com"}       Robt     Collin"
8172   "cz381"     65     czappa@outlook.com"}     Corina      Zappa"
8173   "fg535"     65     fgibbs@outlook.com"}    Freeman      Gibbs"

[8174 rows x 5 columns]

In [13]:
# Reorder the columns
new_column_order = ['backer_id', 'cf_id', 'first_name', 'last_name', 'email']
backer_info_df = backer_info_df[new_column_order]
backer_info_df

     backer_id  cf_id first_name   last_name                    email
0      "ha127"    563     Hubert     Arnold"     harnold@yandex.com"}
1      "lg794"     65      Loris     Goulet"      goulet@yandex.com"}
2      "tb566"    563    Teodora   Brunelli"  tbrunelli@outlook.com"}
3      "lh506"    563      Lexie       Hunt"          hunt@live.com"}
4      "lh382"    563    Lambert      Huber"         huber@live.com"}
...        ...    ...        ...         ...                      ...
8169   "st581"     65     Serita   Thebault"   sthebault@yandex.com"}
8170   "gf637"    563      Glenn  Foerstner"   gfoerstner@yahoo.com"}
8171   "rc983"   1114       Robt     Collin"    rcollin@outlook.com"}
8172   "cz381"     65     Corina      Zappa"     czappa@outlook.com"}
8173   "fg535"     65    Freeman      Gibbs"     fgibbs@outlook.com"}

[8174 rows x 5 columns]

In [14]:
# Export the DataFrame as a CSV file using encoding='utf8'.
backer_info_df.to_csv("backer_info_df.csv", encoding='utf8')